html {
	position: relative;
   	min-height: 100%;
}

#headerTitle {
	color: #ffffff;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 60px;
	font-weight: bold;
	letter-spacing: -1px;
	text-align: center;
}

body {
	font-family: Arial;
	margin: 0 0 100px; /* bottom = footer height */
}

p, ul {
	color: #47476b;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 14px;
}

code {
	color: #9900cc;
}

label {
	font-size: 12px;
}

header {
	background-image: -webkit-linear-gradient(top, #155884, #0d3b59);
  	background-image: -moz-linear-gradient(top, #155884, #0d3b59);
  	background-image: -ms-linear-gradient(top, #155884, #0d3b59);
  	background-image: -o-linear-gradient(top, #155884, #0d3b59);
  	background-image: linear-gradient(to bottom, #155884, #0d3b59);
  	margin-top: -40px;
  	margin-left: -8px;
  	margin-right: -8px;
  	-webkit-box-shadow: 0px 8px 5px 0px rgba(212,212,212,1);
    -moz-box-shadow: 0px 8px 5px 0px rgba(212,212,212,1);
	box-shadow: 0px 8px 5px 0px rgba(212,212,212,1);
}

footer {
	background-image: -webkit-linear-gradient(top, #155884, #0d3b59);
  	background-image: -moz-linear-gradient(top, #155884, #0d3b59);
  	background-image: -ms-linear-gradient(top, #155884, #0d3b59);
  	background-image: -o-linear-gradient(top, #155884, #0d3b59);
  	background-image: linear-gradient(to bottom, #155884, #0d3b59);
  	/*margin: 50px -8px -15px -8px;*/
	margin: 50px 0px -15px 0px;
  	-webkit-box-shadow: 0px -8px 5px 0px rgba(212,212,212,1);
    -moz-box-shadow: 0px -8px 5px 0px rgba(212,212,212,1);
	box-shadow: 0px -8px 5px 0px rgba(212,212,212,1);
	position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
}

.footer {
	color: #ffffff;
	margin-left: 50px;
}

#controls {
	width: 400px;
	height: 650px;
	border-style: solid;
	float: right;
	margin-right: 20px;
}

#my_canvas {
	margin-left: 20px;
}

#wordCloudText {
	width: 360px;
	resize: none;
}

#wordCloudButton {
	background: #3498db;
  	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  	background-image: -o-linear-gradient(top, #3498db, #2980b9);
  	background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
  	border-radius: 28px;
  	font-family: Arial;
  	color: #ffffff;
  	font-size: 14px;
  	padding: 6px 20px 6px 20px;
  	text-decoration: none;
  	margin-left: 15px;
  	border-style: none;
}

#wordCloudButton:hover {
	background: #3cb0fd;
  	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  	text-decoration: none;
}

#disabledButton {
	background: #b6bec4;
  	background-image: -webkit-linear-gradient(top, #b6bec4, #7f878c);
  	background-image: -moz-linear-gradient(top, #b6bec4, #7f878c);
  	background-image: -ms-linear-gradient(top, #b6bec4, #7f878c);
  	background-image: -o-linear-gradient(top, #b6bec4, #7f878c);
  	background-image: linear-gradient(to bottom, #b6bec4, #7f878c);
  	-webkit-border-radius: 28;
  	-moz-border-radius: 28;
  	border-radius: 28px;
  	font-family: Arial;
  	color: #ffffff;
  	font-size: 14px;
  	padding: 6px 20px 6px 20px;
  	text-decoration: none;
  	margin-left: 15px;
  	border-style: none;
}

#clearText {
	border-style: none;
	background-color: white;
	float: right;
	text-decoration: underline;
	color: #3333ff;
	margin-right: 12px;
}

.formContents {
	margin-left: 15px;
}

.formBox {
	border-style: groove;
	border-width: 2px;
	border-color: #d0d0e1;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 360px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	border-radius: 10px;
}

.selection {
	margin-left: 80px;
}

#fileUpload {
	margin-left: 75px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
}

.headerButton {
	background: #33adff;
  	background-image: -webkit-linear-gradient(top, #33adff, #2692d1);
  	background-image: -moz-linear-gradient(top, #33adff, #2692d1);
  	background-image: -ms-linear-gradient(top, #33adff, #2692d1);
  	background-image: -o-linear-gradient(top, #33adff, #2692d1);
  	background-image: linear-gradient(to bottom, #33adff, #2692d1);
  	font-family: Arial;
  	color: #ffffff;
  	font-size: 20px;
  	padding: 10px 20px 10px 20px;
  	border-style: none;
  	float: right;
  	margin-top: -100px;
  	margin-right: 20px;
  	text-decoration: none;
}

.headerButton:hover {
	background: #3cb0fd;
  	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  	text-decoration: none;
}

#aboutProject {
	margin-left: 20px;
}

.externalResources {
	text-decoration: none;
	color: #3366cc;
}

.externalResources:visited {
	text-decoration: none;
	color: #3366cc;
}

#url{
	width: 355px;
}
